<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<div class="content">
    <p>We are a passionate team dedicated to making a difference in the lives of those in need. Our mission is to fight hunger and reduce food waste by connecting surplus food from restaurants, grocery stores, and individuals with local organizations that distribute it to people in need.</p>
    <p>Every day, we work tirelessly to collect, sort, and distribute food to ensure that no one goes to bed hungry. With the support of our amazing volunteers and generous donors, we have been able to make a significant impact in our community.</p>
    <p>At the heart of our organization is the belief that everyone deserves access to nutritious food. We strive to create a more equitable society where no one is left behind.</p>
    <div class="quote">
        <p>"Together, we can make a difference, one meal at a time."</p>
    </div>
    <div class="image-gallery">
       <img src="../../../assets/yes.jpg" alt="" height="400px" width="75%">
</div>
<div class="yt">
<iframe width="75%" height="400px" src="https://www.youtube.com/embed/drGeDmBXNuU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>