<div class="article-body list-group mt-3">
    <article class="article-card list-group-item list-group-item-action" >
  
      <div class="img-box">
        <img src="../../../assets/002.jpg" alt="" class="article-banner">
      </div>
  
      <div class="article-content">
  
        <a href="#"  >
          <h3 class="article-title">hello world</h3>
        </a>
  
        <p class="article-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque veniam delectus numquam. Est quibusdam vitae distinctio reprehenderit corporis sapiente esse atque recusandae neque iure incidunt laboriosam veniam nobis voluptatum at quis eligendi molestiae suscipit non amet maxime vero voluptatem, aliquid doloribus! Repudiandae officia nesciunt officiis placeat mollitia harum velit vitae!</p>
        
      </div>
    </article>
  </div>
  