
<div class="dabba">
<h2>Welcome Back!!</h2>
    <div class="card-container">
        <div class="card" (click)="handleClick(1)">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">Click here!</p>
          </div>
        </div>
      
        <div class="card" (click)="handleClick(2)">
          <div class="card-body">
            <h5 class="card-title">Pickup Scheduling</h5>
            <p class="card-text">Click here!</p>
          </div>
        </div>
      
        <div class="card" (click)="handleClick(3)">
          <div class="card-body">
            <h5 class="card-title">Contact For Removal</h5>
            <p class="card-text">Click here!</p>
          </div>
        </div>

        <div class="card" (click)="handleClick(4)">
          <div class="card-body">
            <h5 class="card-title">Logout</h5>
          </div>
        </div>
      </div>
      
</div>