<div class="modal-header">
    <h4 class="modal-title pull-left">Add Size</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <ul *ngIf="list.length">
      <li *ngFor="let item of list">{{item}}</li>
    </ul> -->

    <form>
        <div class="mb-3">
            <label for="sizeLabel" class="form-label">Size Label</label>
            <input type="text" class="form-control" [(ngModel)]="sizeLabel" name="sizeLabel"
                (ngModelChange)="createSlug(sizeLabel)" id="sizeLabel">
        </div>
        <div class="mb-3">
            <label for="sizeValue" class="form-label">Size Value</label>
            <input type="text" class="form-control" [(ngModel)]="sizeValue" name="sizeValue" id="sizeValue">
        </div>
    </form>


</div>
<div class="modal-footer">
    <button type="submit" *ngIf="size" (click)="editSize()" class="btn btn-primary">Edit</button>
    <button type="submit" *ngIf="!size" (click)="addSize()" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>