<div class="shipping-policy container">
    <h1>Shipping policy</h1>
    <p>At Aghwani handicraft, we want our products to reach out to our valued customers as soon as possible. That's why we have in place our shipping policy for you.</p>
    <p>We offer free shipping in the USA. In case of international shipping, we would request you to drop us a mail at info@leather-village.com</p>
    <h4>PLEASE DO NOT ACCEPT THE PACKAGE FROM THE DELIVERY PERSON IF THE PACKAGING IS DAMAGED. </h4>
    <ul>
        <li>We deliver your products via express shipping using premium courier companies such as DHL/FedEx/Ups, etc. It usualWe deliver your products via express shipping using premium courier companies such as DHL/FedEx/Ups, etc. It usually takes about 3-4 days for an item to be delivered to your doorstep. For destinations in the contiguous United States we offer free shipping. </li>
        <li>All orders are shipped from our warehouse in the United States. We ship promptly within 24 hours of your purchase.</li>
        <li>There are no additional Taxes & custom Duties.</li>
        <li>We also provide a tracking number to you for every purchase made with us so that you can see for yourself how soon you can expect your item.</li>
    </ul>
</div>
