
<div class="container-fluid mt-3">
    <swiper
          [slidesPerView]="4"
          [spaceBetween]="15"
          [navigation]="true"
          [pagination]="{ clickable: true }"
          [virtual]="true"
        >
          <ng-template swiperSlide>
            <img src="../../../assets/instagram2.jpg" alt="" height="300">
          </ng-template>
          <ng-template swiperSlide>
            <img src="../../../assets/instagram4.jpg" alt="" height="300">
          </ng-template>
          <ng-template swiperSlide>
            <img src="../../../assets/instagram5.jpg" alt="" height="300">
          </ng-template>
          <ng-template swiperSlide>
            <img src="../../../assets/instagram6.jpg" alt="" height="300">
          </ng-template>
          <ng-template swiperSlide>
            <img src="../../../assets/instagram7.jpg" alt="" height="300">
          </ng-template>
          <ng-template swiperSlide>Slide 6</ng-template>
        </swiper>
    </div>