<app-bread-crumb [title]="'Dashboard'"></app-bread-crumb>
<div class="row m-0">
    <div class="col-md-4">
        <div class="cs-card category">
            <div class="stats">
                <h3>Total Category</h3>
                <p>10</p>
            </div>
            <div class="icon-con">
                <ion-icon name="grid-outline"></ion-icon>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-4">
        <div class="cs-card sub-category">
            <div class="stats">
                <h3>Total Sub Category</h3>
                <p>10</p>
            </div>
            <div class="icon-con">
                <ion-icon name="grid-outline"></ion-icon>
            </div>
        </div>
    </div> -->
    <div class="col-md-4">
        <div class="cs-card product">
            <div class="stats">
                <h3>Total Product</h3>
                <p>10</p>
            </div>
            <div class="icon-con">
                <ion-icon name="grid-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cs-card user">
            <div class="stats">
                <h3>Total Users</h3>
                <p>10</p>
            </div>
            <div class="icon-con">
                <ion-icon name="grid-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cs-card orders">
            <div class="stats">
                <h3>Total Orders</h3>
                <p>10</p>
            </div>
            <div class="icon-con">
                <ion-icon name="grid-outline"></ion-icon>
            </div>
        </div>
    </div>
</div>