.refund-policy {
    text-align: left;
    width: 500px;
    margin-top: 50px;
    padding-top: 10px;
    h1 {
        font-size: 30px;
        font-family: "Arapey-Regular";
        margin-bottom: 30px;
    }
    p {
      padding-top: 10px;
      padding-bottom:10px;
}
}
