<div class="main-footer">
    <div class="top-footer">
        <div class="columns">
            <h3>Customer Service</h3>
            <ul>
                <li><a href="#" routerLink="/contact">Contact Us</a></li>
                <li><a href="#" routerLink="/qualityassurance">Request Food</a></li>
                
                <li><a href="#">Terms Of Service</a></li>
            </ul>
        </div>
        <div class="columns">
            <h3>Menu</h3>
            <ul>
                <li><a href="#" routerLink="/inspiration">Daily Events</a></li>
                <li><a href="#" routerLink="/about">About Us</a></li>
                <li><a href="#" routerLink="/checkout">Become a Partner </a></li>
               
            </ul>
        </div>
        <div class="columns">
            <h3>Get In Touch</h3>
            <ul>
                <li><a href="#">info@annapurna.com
                    </a></li>
                <li><a href="#">
                       <b>Address : </b>  7903 University Road, Vigyan Bhawan Block-A ,
                        Mlsu Udaipur </a></li>
            </ul>
        </div>
        <div class="columns">
            <h3>STAY IN CONNECTED</h3>
            <ul>
                <li><a href="#">Show us some love ❤️ on social media...</a></li>
                <li class="d-flex justify-content-between">
                    <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href=""><ion-icon name="logo-pinterest"></ion-icon></a>
                    <a href=""><ion-icon name="logo-youtube"></ion-icon></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="bottom-footer-left">All Rights are reserved by Annapurna Foundation © (2023) | Praful Mali | Mayur Chaudhary | Parth Kashyap.</div>
        
    </div>
</div>