<div class="privacy-policy container">
  <h1>Privacy policy</h1>
  <div class="box">
    <p>
      LEATHER VILLAGE knows that you care how information about you is used and
      shared, and we appreciate your trust that we will do so carefully and
      sensibly. This notice describes our privacy policy. By visiting LEATHER
      VILLAGE, you are accepting the practices described in this Privacy Policy.
    </p>
    <h4>
      WHAT PERSONAL INFORMATION DOES LEATHER VILLAGE GATHER ABOUT CUSTOMERS?
    </h4>
    <ul>
      <li>
        Information That You Provide: We receive and store any information that
        a customer enters on our website or gives us in any way. This
        information is used to enhance your experience on our website, to
        respond to your requests, to customize your shopping experience and to
        communicate with you.
      </li>
      <li>
        Automatic Information: Some information is received and stored
        automatically whenever you interact with us. "Cookies" are one example
        of this type of information. In internet terms, a "cookie" is a text
        file that websites send to visiting computers/devices to identify the
        visiting computer/device. We also may use third-party website analytics
        tools. These tools collect information about visitor traffic on our
        website .
      </li>
      <li>
        Information from Other Sources: We might also receive information about
        you from other sources and add it to our account information. All
        information gathered is for the sole purpose of personalizing and
        improving your user experience.
      </li>
    </ul>
  </div>
  <div class="box">
    <h4>HOW DOES LEATHER VILLAGE USE YOUR CONTACT INFORMATION?</h4>
    <p>We use your contact information for the following purposes only:</p>
    <ul>
      <li>Register you as a user on our website;</li>
      <li>
        Manage and/or maintain your user account and wish list on our website;
      </li>
      <li>Process and deliver purchases, and returns</li>
      <li>Communicate with you and provide customer support;</li>
      <li>
        Let you know about products, promotions and events that might be of
        special interest to you;
      </li>
    </ul>
    <p>
      If for some reason you would prefer not to receive emails from LEATHER
      VILLAGE simply email a request to
    </p>
    <p>
      info@leather-village.com with the word "UNSUBSCRIBE" in the subject line.
      Please note that any requests to
    </p>
    <p>
      remove or update your contact information may take seven to ten working
      days to take effect.
    </p>
  </div>

  <div class="box">
    <h4>HOW DOES LEATHER VILLAGE USE YOUR OTHER CUSTOMER INFORMATION?</h4>
    <ul>
      <li>
        Customize our services and product offerings to suit your needs and
        interests;
      </li>
      <li>Record purchases that you have made on our website;</li>
      <li>
        Let you communicate with us through social networks and other media;
      </li>
      <li>
        Allow you to post comments on our website, on social networks and other
        media;
      </li>
      <li>
        Protect you against fraud and unauthorized transactions, including
        identifying potential unauthorized users and/or hackers;
      </li>
      <li>Enforce our Terms of Use;</li>
      <li>
        Comply with applicable legal requirements, industry standards and our
        policies.
      </li>
    </ul>
  </div>
  <div class="box">
    <h4>DOES LEATHER VILLAGE SHARE CUSTOMER INFORMATION?</h4>
    <p>
      Your privacy is always respected when you shop with LEATHER VILLAGE. From
      time to time we might establish business relationships with other persons
      or entities whom we believe trustworthy and whom we have asked to confirm
      that their privacy policies are consistent with ours. Your customer
      information is sometimes shared with such carefully selected partners in
      order to enhance your shopping experience. We also sometimes allow
      third-party companies to collect certain anonymous information (e.g. mouse
      clicks, mouse movements, scroll behavior and/or keystroke activity) during
      your visits in order to further enhance your shopping experience.
    </p>
  </div>
  <div class="box">
    <h4>HOW SECURE IS MY CUSTOMER INFORMATION?</h4>
    <p>
      All transactions submitted to us are encrypted with 128 SSL software which
      encrypts information you input to protect it from interception by outside
      parties. LEATHER VILLAGE is committed to maintaining the highest levels of
      security and protection against fraud. We stay up-to-date with the latest
      in security technologies to ensure that your credit card information,
      contact information and shipping/billing information are confidential and
      safe. Unfortunately, however, no data transmission over the internet can
      be guaranteed to be 100% secure. As a result, while we strive to protect
      your contact information, to the extent permitted by law, we do not
      guarantee or warrant the security of any information you transmit to or
      from our websites, you do so at your own risk.
    </p>
  </div>
  <div class="box">
    <h4>WHAT CHOICES DO I HAVE?</h4>
    <p>
      As discussed above, you can always choose not to provide information, even
      though it might be needed to make a purchase or to take advantage of
      certain LEATHER VILLAGE . If you do not want to receive e-mail or other
      mail from us please email info@viomcreation.com with the word
      "UNSUBSCRIBE" in the subject line or if you have any questions about how
      your information is being used, please simply send a request to
      info@leather-village.com
    </p>
  </div>
  <div class="box">
    <h4>ARE CHILDREN ALLOWED TO USE LEATHER-VILLAGE.COM?</h4>
    <p>
      LEATHER VILLAGE does not direct its services to persons under the age of
      18. If you are under 18, you may use LEATHER VILLAGE only with the
      involvement of a parent or guardian. If you become aware that a child has
      provided LEATHER VILLAGE with personal information without parental or
      guardian consent, please contact us at info@leather-village.com
      immediately so that we may take steps to remove such information.
    </p>
  </div>
  <div class="box">
    <h4>CONDITIONS OF USE, NOTICES, AND REVISIONS</h4>
    <p>
      If you choose to visit LEATHER VILLAGE, your visit and any dispute over
      privacy is subject to this Policy and our Terms of Use. If you have any
      concern about privacy at LEATHER VILLAGE please contact us at
      info@leather-village.com
    </p>
  </div>
</div>
